# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence

# The config folder is used by Peribolos to configure org permissions
/config/      @toddbaert @beeme1mr
